[Desktop Entry]
Name=XPL
GenericName=XPS Spectrum Analysis
Exec=python3 -m xpl
Terminal=false
Type=Application
Icon=xpl48.png
StartupNotify=false
Name[en_US]=xpl.desktop
